<header>
    <div class="navsection">
        <span class="openx" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
        <div id="mySidenav" class="sidenav">
            <span class="closebtn" onclick="closeNav()">
                &times;
            </span>
            <div class="lang-list">
                <div id="tm-list" style="font-family: 'Noto Sans Tamil';" class="tamil-list">
                    <a href="/">முகப்பு</a>
                    <a href="/top">முக்கிய கதைகள்</a>
                    <a href="/india">இந்தியா</a>
                    <a href="/world">உலகம்</a>
                    <a href="/politics">அரசியல்</a>
                    <a href="/business">வணிகம்</a>
                    <a href="/tech">தொழில்நுட்பம்</a>
                    <a href="/sports">விளையாட்டு</a>
                    <a href="/entertainment">பொழுதுபோக்கு</a>
                </div>
            </div>
            <div class="socials">
                <a href="https://twitter.com/Newshintin"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://www.instagram.com/newshint.in/"><i class="fa fa-instagram"></i> Instagram</a>
                <a href="https://www.facebook.com/people/News-Hint/100078118757961/"><i class="fa fa-facebook"></i>
                    Facebook</a>
                <a href="/about">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms-and-conditions">Terms and Conditions</a>
            </div>
        </div>
    </div>
    <div class="logo-head" align="center">
        <a href="/">
            <img class="logo-head-image" src="{{url_for('static', filename='Logo.png')}}" alt="newshint logo">
        </a>
    </div>
</header>
