<article class="card" itemscope itemtype="http://schema.org/Article">
    <div class="card-img" role="img" aria-label="{{ news.title }}">
        <img src="{{news.image_url}}" alt="{{ news.title }}" style="object-fit: cover;">
    </div>
    <div class="card-rest">
        <h3 class="news_title" style="font-family: 'Noto Sans Tamil'">
            {{ news.title }}
        </h3>
        <p class="published_at">{{ news.published_at }}</p>
        <br>
        <p class="card-news-description" style="font-family: 'Noto Sans Tamil';color:#4e4e4e">{{ news.summary }}
        </p>
        <span class="source-name">
            Read more at
            <a href="{{ news.source_url }}" target="_blank" itemprop="author" class="source-name-link">
                  {{ news.source_name }}
            </a>
        </span>
    </div>
</article>